<?xml version='1.0' encoding='utf-8'?>
<widget id="com.yangxlie.firsttabris" version="0.1.0">
  <name>Firsttabris</name>
  <description>
    Example Tabris.js App
  </description>
  <author email="yangleiyanglei@didichuxing.com">
    yangleiyanglei
  </author>
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
</widget>
